.wrapper {
    padding: 0px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.leftAlignedImage {
    width: 100%;
    max-width: 200px;
    object-fit: cover;
    vertical-align: middle;
}

.textContent {
    flex: 1;
}