.productSet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 400px));
    gap: 1rem;
}

.product {
}

.productImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}

.productTitle {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;;
}

.productDesc {
    font-weight: normal;
    margin: 50px 10px 0px 10px;
}